<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TDBOT</title>
    <style>
        .column {
            display: flex;
            flex-direction: column;
            max-width: 320px;
            padding: 24px;
        }
        .divider {
            padding: 12px;
        }
    </style>
</head>
<body>
<form method="post">
    <div class="column">
        <span>Quantity BTC</span>
        <input type="text" name="quantity_btc" value="0.0001"/>
        <div class="divider"></div>
        <span>Threshold</span>
        <input type="text" name="threshold" value="1.0008"/>
        <div class="divider"></div>
        <input type="submit">
    </div>
</form>

<!-- <p>Result: {{ result }}</p> -->
<div class="column">
    <span>
        Threshold: {{ threshold }}    
    </span>
    <span>
        Quantity BTC: {{ quantity_btc }}
    </span>
    <span>
        Buy limit price: {{ buy_limit_price }}
    </span>
    <span>
        Sell limit price: {{ sell_limit_price }}
    </span>
     <span>
        Final profit USDT: {{ final_profit_usdt }}
    </span>
</div>

</body>
</html>