<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TDBOT</title>
    <style>
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
        }
        .column {
            display: flex;
            flex-direction: column;
        }
        .divider {
            padding: 12px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>BOT CALCULATOR</h1>
    <form method="post">
        <div class="column">
            <span>Quantity BTC</span>
            <input type="text" name="quantity_btc" value="0.0001"/>
            <div class="divider"></div>
            <span>Threshold</span>
            <input type="text" name="threshold" value="1.0005"/>
            <div class="divider"></div>
            <input type="submit">
            <div class="divider"></div>
        </div>
    </form>
    <div class="column">
        <span>
            Threshold: {{ threshold }}    
        </span>
        <span>
            Quantity BTC: {{ quantity_btc }}
        </span>
        <span>
            Average price: {{ avg_price }}
        </span>
        <span>
            Buy limit price: {{ buy_limit_price }}
        </span>
        <span>
            Sell limit price: {{ sell_limit_price }}
        </span>
        <span>
            Final profit USDT: {{ final_profit_usdt }}
        </span>
    </div>
</div>
</body>
</html>