<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TDBOT</title>
    <style>
        .form-container {
            display: flex;
            flex-direction: column;
            max-width: 320px;
            padding: 24px;
        }
        .divider {
            padding: 12px;
        }
    </style>
</head>
<body>
<form method="post">
    <div class="form-container">
        <span>Quantity BTC</span>
        <input type="text" name="quantity_btc" value="0.0001"/>
        <div class="divider"></div>
        <span>Threshold</span>
        <input type="text" name="threshold" value="1.0008"/>
        <div class="divider"></div>
        <input type="submit">
    </div>
</form>

<p>Result: {{ result }}</p>

</body>
</html>